<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/master.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Dev test</title>
  <nav class="navbar navbar-light" style="background-color:#e3f2fd">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Developer test</p>
      </div>
      <ul class="nav justify-content-end">
        <!-- 6 -->
        <li class="nav-item" id="home"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item" id="about"><a class="nav-link" href="/about">About Us</a></li>
        <li class="nav-item" id="contact"><a class="nav-link" href="/contact">Contact Us</a></li>
<<<<<<< HEAD
        <li class="nav-item" id="contact"><a class="nav-link" href="/login">Login</a></li>
=======
        <li class="nav-item" id="contact"><a class="nav-link" href="/login">Signup/login</a></li>      
>>>>>>> ef226e04a4ad9f365d42be10d12f06a1a76840bf
      </ul>
    </div>

  </nav>
</head>
<body>
  <div class="container-body">
